aws_region             = "us-east-1"
tag                    = "MYPROJECT"
environment            = "prod"
owner                  = "db-team"
db_instance_identifier = "my-rds-db2-instance"
engine                 = "db2-se"
engine_version         = "11.5.9.0"
engine_major_version   = "11.5"
instance_class         = "db.r6i.2xlarge"
master_username        = "admin"
master_password        = "Passw0rd!"
db_name                = "DB2DB"
db2_port               = 8392
vpc_id                 = "vpc-0123456789abcdef0"
security_group_id      = "sg-0123456789abcdef0"
db_subnet_group_name   = "rds-db2-myproject-private"
publicly_accessible    = false
availability_zone      = "us-east-1b"
multi_az               = false
storage_type           = "gp3"
allocated_storage      = 400
iops                   = 12000
storage_throughput     = 0
storage_encrypted      = true
kms_key_arn            = ""
parameter_group_name   = "rds-db2-pg-db2-11-5-myproject"
backup_retention_period = 1
monitoring_role_arn    = "arn:aws:iam::123456789012:role/rds-db2-monitoring-role-MYPROJECT"
directory_id           = ""
directory_role_name    = ""
restore_from_s3        = false
s3_integration_role_arn = ""
enable_audit           = false
audit_role_arn         = ""
audit_bucket_name      = ""
